In [111]:
%%time
import json
import pandas as pd
from datetime import datetime

json_file = open("data/log_data/2018/11/2018-11-01-events.json", "r", encoding="utf8")
json_data = [json_data for json_data in [json.loads(json_object) for json_object in json_file] if json_data["page"] == "NextSong"]

# df = pd.read_json(json_file, lines=True)

CPU times: total: 0 ns
Wall time: 587 Âµs

2

In [257]:
import pandas as pd
from datetime import datetime

df = pd.read_json("data/log_data/2018/11/2018-11-01-events.json", lines=True)
# df = df[df['NextSong']]
df = df[df['page'] == 'NextSong']

columns = ["timestamp", "hour", "day", "weekofyear", "month", "year", "dayofweek"]
values = [df["ts"]] + [t.apply(lambda t: getattr(t, et)) for et in columns[1:]]
datetime_df = pd.concat(values, keys=columns, axis=1)
datetime_json = json.loads(datetime_df.to_json())

        timestamp  hour  day  weekofyear  month  year  dayofweek
2   1541106106796     4    2          44     11  2018          4
4   1541106352796     4    2          44     11  2018          4
5   1541106496796     4    2          44     11  2018          4
6   1541106673796     4    2          44     11  2018          4
7   1541107053796     4    2          44     11  2018          4
8   1541107493796     4    2          44     11  2018          4
9   1541107734796     4    2          44     11  2018          4
10  1541108520796     4    2          44     11  2018          4
12  1541109125796     4    2          44     11  2018          4
13  1541109325796     4    2          44     11  2018          4
14  1541110994796     5    2          44     11  2018          4